//Color Variables ***********************************************************************
$background-color: #f7f5f0;
$text-color: #222;
$hover-color: #6633ff;

//Typography Variables ***********************************************************************

$font-stack: 'Roboto', sans-serif;