%center-margin {
    margin-left: auto;
    margin-right: auto;
}

body {
    text-align: center;
    @include tablet {
        body {
            margin-left: auto;
            margin-right: auto;
        }
    }
}